@using LoLUniverse.Models.Search
<div class="row">
    <div class="col-md-5">
        <h2><img src="~/Content/Assets/Images/logo.png" alt="LoLUniverse"/>
        </h2>
    </div>
    <div class="col-md-5 searchBox">
        @Html.Partial("../Search/SearchBox")
    </div>
</div>