@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-12">
        <h3>Uses RiotApi.Net</h3>
        <p>
            <img src="~/Content/Assets/PoweredBy/riotapinet.jpg" />
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Uses RavenDB NoSql storage</h3>
        <p>
            <img src="~/Content/Assets/PoweredBy/ravenDb.png"/>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        Developed By Spyros Desyllas and Vasillis Martos for University of Piraeus
    </div>
</div>
