@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron alpha60">
    <h1>LoLUniverse</h1>
    <p class="lead">This is a web application that utilizing <a href="http://sdesyllas.github.io/RiotApi.NET/" target="_blank">RiotApi.NET C#</a> library capabilities and provide users with Summaries, Stats, Champion details and other stuff. The project is created with the ASP.NET MVC framework and it is using advanced mechanics of caching, NoSQL performance solution and user account system.</p>
</div>

<div class="row" id="newsPlaceHolder">
    <div class="col-md-12" data-bind="template: { name: 'news-template', foreach: newsFeed }"></div>
</div>

@section scripts
{
    <script type="text/html" id="news-template">
        <div class="col-md-12">
            <h2 data-bind="text: Title"></h2>
            <p data-bind="text: Description"></p>
            <p data-bind="html: Content"></p>
            <p data-bind="text: CreatedDate"></p>
            <p>
                <a target="_blank" class="btn btn-default" data-bind="attr: { href: LandingPageUrl, title: Title }">
                    Learn more &raquo;
                </a>
            </p>
        </div>
    </script>

    <script>
        // knockout viewmodel
        function NewsViewModel() {
            var uri = 'api/news';
            var self = this;
            self.newsFeed = ko.observableArray();
            // Send an AJAX request
            $.getJSON(uri)
                .done(function (data) {
                    self.newsFeed(data);
                });
        }

        ko.applyBindings(new NewsViewModel());

        function decodeEntities(encodedString) {
            var textArea = document.createElement('textarea');
            textArea.innerHTML = encodedString;
            return textArea.value;
        }
    </script>
}
