
@{
    ViewBag.Title = "Home Page";
}

<div class="row alpha60" id="newsPlaceHolder">
    <div class="col-md-12" data-bind="template: { name: 'news-template', foreach: newsFeed }"></div>
</div>

@section scripts
{
    <script type="text/html" id="news-template">
        <div class="col-md-12">
            <h2 data-bind="text: Title"></h2>
            <p data-bind="text: Description"></p>
            <p data-bind="html: Content"></p>
            <p data-bind="text: CreatedDate"></p>
            <p>
                <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
            </p>
        </div>
    </script>

    <script>
        // knockout viewmodel
        function NewsViewModel() {
            var uri = 'api/news/' + getUrlParameter('id');
            var self = this;
            self.newsFeed = ko.observableArray();
            // Send an AJAX request
            $.getJSON(uri)
                .done(function(data) {
                    self.newsFeed(data);
                });
        }

        ko.applyBindings(new NewsViewModel());

        function decodeEntities(encodedString) {
            var textArea = document.createElement('textarea');
            textArea.innerHTML = encodedString;
            return textArea.value;
        }

        function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
    </script>


}